<!DOCTYPE html>
<div class="heading">  
  <html>
    <head>
      <title>Quiz</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <nav class="navbar navbar-inverse bg-inverse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to new_book_path, class: 'nav-link' do %>
              <i class="fa fa-plus-circle"></i>
              Add your favorite
            <% end %>

          </li>
        </ul>
      </nav>
      <%= yield %>
    </body>
  </html>
</div>
